@media (max-width: 1000px) {
  .content-wrapper {
    overflow-x: hidden;

  }

  .pricing-component .pricing-wrapper .item {
    flex: 0 0 220px;
  }

  .sidebar {
    width: 200px !important;
    height: 100%;
    flex-direction: column;
    padding-top: 60px;
    gap: 10px;
    padding-left: 0px;
    background: none;

    .b2 {
      position: fixed;
      top: 56px;
      right: 20px;
    }

    .open {
      display: flex !important;
    }

    .close {
      display: none !important;
    }

    .menu-handle {
      display: inline;
    }

    .item-wrapper {
      z-index: 2000;
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      background-color: var(--mobile-menu-bg);
      box-shadow: 6px 6px 20px -3px rgba(0, 0, 0, 0.3);
      gap: 10px;
      width: 260px;

      .link,
      .item {
        .text {

          font-size: 24px;
        }
      }
    }

  }

  .light {
    --content-shadow: 6px 6px 20px -3px rgba(0, 0, 0, 0.3);
  }


  .home-page {
    gap: 100px;
  }

  .reverse-triforce-component {
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    .item {
      height: 350px;
      width: 100%;
    }

    .item1,
    .item2,
    .item3 {
      left: 10%;
    }

    .text {
      top: 45px !important;

    }

    img {
      top: 0px !important;
    }


  }

  .triforce-component {
    padding-top: 0px !important;
    margin-top: -50px;

    .item {
      height: 350px;
      width: 100%;
    }

    .item1,
    .item2,
    .item3 {
      left: 10%;
    }

    .text {
      top: 160px !important;

    }

    img {
      top: 0px !important;
    }

  }

  .textimageright-component {
    flex-direction: column;

    .text {
      text-align: center;
      order: 1;
    }

    img {
      margin: unset;
      margin: auto;
      order: 2;
      position: unset !important;
      width: 95%;
      height: auto;
    }
  }

  .textimageleft-component {
    flex-direction: column;

    .text {
      text-align: center;
      order: 1;
      padding-top: 0px;
    }

    img {
      margin: unset;
      margin: auto;
      order: 2;
      position: unset !important;
      width: 95%;
      height: auto;
    }
  }

  .banner {
    height: 600px;

    .right {
      left: 70px;
      top: 303px;
      width: 66%;
      min-width: 540px;
    }

    .top {
      min-width: 650px;
    }

    .left {
      display: none;
    }
  }

}
