.light {
  --content-shadow: 6px 6px 19px 4px rgba(0, 0, 0, 0.3);
  --menu-shadow: 2px 2px 22px 2px rgba(0, 0, 0, 0.3);

  --c-white: white;
  --c-shade1: #f5f5f5;
  --c-shade2: #eaeaea;
  --c-shade3: #cccccc;
  --c-shade4: #808080;
  --c-shade5: #333333;
  --c-shade6: #0f0f0f;
  --c-blue: #5887FF;
  --c-dark-blue: #2d5dd7;
  --c-green: #28ad85;
  --c-dark-green: #1c916e;
  --c-orange: #eb8718;
  --c-red: #e45b5b;
  --c-dark-red: #d33d3d;
  --label-border-radius: 5px;
  --button-border-radius: 5px;

  --label-width: 130px;

  --button-color: var(--c-blue);
  --button-hover-color: var(--c-dark-blue);

  --button-danger: var(--c-red);
  --button-hover-danger: var(--c-dark-red);
}

.root {
  margin: 0px 20px 0px 20px;
  --max-width: 1200px;
}

.bigtitle {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 16px;
  color: var(--c-shade5);

}

.title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--c-shade6);
}


.subtitle {
  font-size: 25px;
  font-weight: 400;
  color: var(--c-shade4);
}

.content {
  font-size: 18px;
  color: var(--c-shade5);
}

.floater3 {
  position: fixed;
  top: -200%;
  left: -200%;
  height: 200px;
  background: white;
  width: 200%;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.floater4 {
  position: fixed;
  top: -200%;
  right: -200%;
  height: 200px;
  background: white;
  width: 200%;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}

.viewport-animate {
  opacity: 1 !important;
}

.viewport-hide {
  opacity: 0;
  transition: opacity ease-in 0.5s;
}

@media (prefers-reduced-motion) {
  .viewport-hide {
    opacity: 1 !important;
    transition: unset !important;
  }
}

.basic-page {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: 150px;
}


html {
  width: 100% !important;
  max-width: 100% !important;
  min-height: 100vh !important;

  background: #f5f5f5;


  background-image: linear-gradient(rgba(240, 240, 240, 0.5607843137) 1px, rgb(255 255 255 / 25%) 1px), linear-gradient(to right, rgba(225, 225, 225, 0.0784313725) 1px, rgb(255 255 255 / 25%) 1px);
  background-size: 20px 20px;


  font-smooth: always !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  /* overflow: hidden !important; */
}


.burger-grill {
  z-index: 1999;
  left: 0px;
  top: 0px;
  position: fixed;
  /* margin: auto !important; */
  width: 100% !important;
  /* max-width: 1200px !important; */

  .menu-title {
    position: absolute;
    top: 32px;
    left: 80px;
    font-size: 18px;
    cursor: pointer;
  }

  .delicious-burger {
    font-weight: 200;
    margin-top: 20px;
    margin-left: 20px;
    color: var(--c-shade4);
    z-index: 2000;
    pointer-events: auto;
    cursor: pointer;
    /* position: relative; */
    /* top: 20px; */
    /* left: 20px; */
    z-index: 2000;
  }

}

body {
  /* overflow: hidden !important; */
  position: relative;
  margin: auto !important;
  min-height: 100vh !important;

  width: 100% !important;
  max-width: 1200px !important;

  font-family: 'Inter Variable', sans-serif !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* box-shadow: 0px 0px 20px 17px #f5f5f5; */

  * {
    outline: none !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

body::-webkit-scrollbar {
  display: none;
}


.show-overlay {
  display: inline !important;
}

.menu-overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 1900;
}

.content-wrapper {
  transition: filter ease-in 0.2s;
  padding-bottom: 200px;
  min-height: 100vh;
}

.blur {
  filter: blur(3px);
}


.show {
  /* display: flex !important; */
  opacity: 1 !important;
  pointer-events: auto !important;
}

.sidebar {
  height: 100vh !important;
  box-shadow: var(--menu-shadow);
  pointer-events: none;
  /* display: none; */
  opacity: 0;
  z-index: 2001;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 230px;
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
  background-color: var(--c-shade1);
  transition: opacity ease-in-out 0.2s;

  .group {
    margin-bottom: 20px;

    a {
      text-decoration: none;
    }

    .title {
      cursor: pointer;
    }

    .item:hover {
      .text {
        color: var(--button-hover-color);
      }
    }

    .item {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      padding-left: 20px;
      margin-top: 5px;

      .active {
        color: var(--c-shade6) !important;
      }

      .icon {
        color: var(--c-shade6);
      }

      .text {
        padding-top: 2px;
        padding-left: 10px;
        font-size: 18px;
        font-weight: 500;
        color: var(--c-blue);
      }

    }
  }

  .version {}
}


.textimageright-component {
  /* border: 1px solid black; */
  position: relative;
  height: fit-content;
  display: flex;

  .text {
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;
    text-align: right;

    .title {
      padding: 0px;
    }
  }

  img {
    position: relative;
    height: auto;
    width: 70%;
    margin-right: -120px;
    box-shadow: var(--content-shadow);
  }
}

.textimageleft-component {
  /* border: 1px solid black; */
  position: relative;
  height: fit-content;
  display: flex;

  .text {
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;

    .title {
      padding: 0px;
    }
  }

  img {
    position: relative;
    height: auto;
    width: 70%;
    margin-left: -120px;
    box-shadow: var(--content-shadow);
  }
}

.reverse-triforce-component {
  position: relative;
  height: fit-content;
  padding-bottom: 150px;

  .item1 {
    left: 100px;
  }

  .item2 {
    left: 310px;
  }

  .item3 {
    left: 520px;

  }

  .item {
    display: flex;
    position: relative;
    width: fit-content;
    height: 170px;
    width: 600px;

    .text {
      text-align: left;
      position: relative;
      width: 350px;
      top: 94px;
      left: 30px;
    }


    img {
      position: relative;
      /* left: 0px; */
      /* top: -140px; */
      max-height: 300px;
      min-height: 300px;
      box-shadow: var(--content-shadow);
    }

  }
}

.triforce-component {
  position: relative;
  height: fit-content;
  padding-top: 0px;
  padding-bottom: 160px;

  .item1 {
    left: 650px;
  }

  .item2 {
    left: 440px;
  }

  .item3 {
    left: 230px;

  }

  .item {
    position: relative;
    width: fit-content;
    height: 170px;

    .text {
      font-size: 20px;
      text-align: right;
      position: relative;

      width: 260px;
      right: 82px;
      bottom: 6px;

    }


    img {
      position: relative;
      /* left: 280px; */
      /* top: -145px; */
      max-height: 300px;
      box-shadow: var(--content-shadow);
    }

  }
}

.smallbanner {
  margin-top: 50px;
  position: relative;
  height: fit-content;

  .top-text {
    text-align: center;

    .title {
      font-size: 40px;
      color: var(--c-shade5);
      margin-bottom: 0px;
    }

    .subtitle {
      margin-top: 15px;
      font-size: 24px;
      color: var(--c-shade4)
    }
  }

}

.banner {
  margin-top: 50px;
  height: 800px;
  position: relative;

  .top-text {
    text-align: center;

    .title {
      font-size: 40px;
      color: var(--c-shade5);
      margin-bottom: 0px;
    }

    .subtitle {
      margin-top: 15px;
      font-size: 24px;
      color: var(--c-shade4)
    }
  }

  img {
    height: auto;
    /* box-shadow: var(--content-shadow); */
    box-shadow: 3px 3px 30px 3px rgba(0, 0, 0, 0.38);
    position: absolute;
    border-radius: 7px;
    border: 2px solid #92929263;
  }

  .top {
    top: 200px;
    left: 10%;
    width: 80%;
  }

  .left {
    left: -75px;
    top: 450px;
    width: 57%;
  }

  .right {

    right: -60px;
    top: 360px;
    width: 63%
  }

}

.feature-bg {
  background: var(--c-white);
  border-radius: 5px;
  box-shadow: var(--content-shadow);

}

.small-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;


  .feature {
    display: flex;

    svg {
      flex: 0 0 40px;
      flex-grow: 1;
    }

    .content {
      margin: 0px;
      margin-left: 10px;
    }

    padding: 20px;
    flex: 0 0 50%;
    max-width: 450px;
  }
}

.big-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;


  .feature {
    padding: 20px;
    flex: 0 0 50%;
    max-width: 450px;

    .title-wrapper {
      display: flex;

      .title {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 0px;
      }

    }
  }
}

.link {
  padding: 5px 10px 5px 10px;
  box-shadow: inset 0 0 0 0 var(--c-blue);
  cursor: pointer;

  text-decoration: none;
  color: var(--c-blue);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.link:hover {
  box-shadow: inset 500px 0 0 0 var(--c-blue);
  color: var(--c-white);
}

.download {
  /* margin-top: 100px; */
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;

  .top-text {
    .title {
      font-weight: 40px;
      color: var(--c-blue);
    }

    .subtitle {
      font-size: 18px;
      font-weight: 200;
    }
  }

  .link-wrapper {
    display: flex;
    gap: 100px;
    font-weight: 200;

    .dl {
      font-size: 30px;
    }
  }
}

.doc-page {
  margin-top: 100px;
  display: flex;


  .doc-loader {
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
  }

  .markdown-wrapper {
    flex-grow: 1;
    border-left: 2px solid var(--c-shade3);
    border-top: 2px solid var(--c-shade3);
    padding-left: 20px;

    .markdown-content {
      margin-top: 40px;
    }

    pre {
      code {
        width: fit-content;
        text-overflow: ellipsis;
        overflow-y: auto;
        text-wrap: pretty;
      }
    }

    .button-wrapper {
      margin-top: -35px;
      margin-left: -20px;
      height: 25px;
      font-size: 22px;

      .button {
        cursor: pointer;
        color: var(--c-dark-blue);
        width: 200px;
        height: 100%;
      }

      .next {
        float: right;
        margin-right: 20px;
        text-align: right;
      }

      .prev {
        margin-left: 20px;
        float: left;
      }

    }
  }

  .doc-menu {

    margin: 0px 30px 0px 0px;
    width: fit-content;
    min-width: fit-content;
    float: left;
    min-height: fit-content;
    height: fit-content;
    position: sticky;
    top: 70px;


    .page {
      color: var(--c-shade5);
      font-size: 21px;
      margin: 5px 0px 5px 0px;
      cursor: pointer;
    }

    .page:hover {
      color: var(--c-dark-blue)
    }

    .section {
      font-weight: bold;
      margin-top: 20px;
    }

    .level2 {
      color: var(--c-shade4);
      font-size: 18px;
      margin-left: 20px;
    }
  }
}

.footer {
  margin-bottom: 100px;

  .text {
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grey-container {
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 40px);
  }

  .grey-div {
    width: 20%;
    height: 40px;
  }

}

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #F0F0F0
}

.hljs,
.hljs-subst {
  color: #444
}

.hljs-comment {
  color: #888888
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold
}

.hljs-keyword,
.hljs-type {
  color: blue;

}

.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #1f8800
    /* color: #880000 */
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060
}

.hljs-literal {
  color: #78A960
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300
}

.hljs-meta {
  color: #1f7199
}

.hljs-meta-string {
  color: #4d99bf
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}
